@font-face {
    font-family: 'DancingScript';
    src: url('../font/DancingScript-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'AveriaLibre-Regular';
    src: url('../font/AveriaLibre-Regular.ttf') format('truetype');
}
body, div, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}
img {
    display: block;
    height: auto;
}
html, body {
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
}
body {
    background: #333;
    position: relative;
    top: 0;
    overflow: hidden;
}
#container {
    width: 100%;
    overflow: hidden;
    height: 100%;
}
#container li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}
#container img {
    width: 100%;
    opacity: 0;
    height: 100%;
    position: absolute;
    transition: all 1s ease;
    cursor: pointer;
}
#popup {
    position: absolute;
    width: 540px;
    height: 280px;
    background: rgba(234, 92, 92, .93);
    left: 50%;
    margin-left: -270px;
    top: 50%;
    margin-top: -140px;
    color: #fff;
    font-family: 'AveriaLibre-Regular';
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
    visibility: hidden;
}
#popup.show {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
#popup h1 {
    font-family: 'DancingScript';
    margin-top: 50px;
    font-weight: 700;
}
#popup p {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: .5px;
    margin: 20px 50px 0;
}
#popup h2 {
    font-size: 18px;
    margin-top: 30px;
}
#close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    cursor: pointer;
}
#close:before {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 14px;
    left: 3px;
    top: 8px;
    background: rgba(234, 92, 92, .93);
}
#close:after {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 14px;
    left: 8px;
    top: 3px;
    background: rgba(234, 92, 92, .93);
}
#mark {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(234, 92, 92, .87);
    text-align: center;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#mark.show {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
#mark:before, #mark:after {
    content: '';
    display: inline-block;
    width: 1%;
    vertical-align: middle;
    height: 100%;
}
#mark.loading:before {
    background: #fff;
    position: absolute;
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-animation:loading 2s ease-out forwards infinite;
    -moz-animation:loading 2s ease-out forwards infinite;
}
@-webkit-keyframes loading {
  0% { -webkit-transform:scale(0.3); }
  50% { -webkit-transform:scale(1.0); }
  100% { -webkit-transform:scale(0.3); }
}
@-moz-keyframes loading {
  0% { -moz-transform:scale(0.3); }
  50% { -moz-transform:scale(1.0); }
  100% { -moz-transform:scale(0.3); }
}
#mark img {
    max-width: 98%;
    height: auto;
    width: auto;
    max-height: 98%;
    display: inline-block;
    vertical-align: middle;
}
