@font-face {
    font-family: 'DancingScript';
    src: url('../font/DancingScript-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body, div, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}
img {
    display: block;
    height: auto;
}
html, body {
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
}
body {
    background: #333;
    position: relative;
    top: 0;
}
#container {
    width: 100%;
    overflow: hidden;
    height: 100%;
}
#container li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}
#container img {
    width: 100%;
    opacity: 0;
    height: 100%;
    position: absolute;
    transition: all 1s ease;
    cursor: pointer;
}
#popup {
    position: absolute;
    width: 540px;
    height: 280px;
    background: rgba(234, 92, 92, .7);
    left: 50%;
    margin-left: -270px;
    top: 50%;
    margin-top: -140px;
    font-family: 'DancingScript';
    color: #fff;
}
