body, div, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
html, body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
}
body {
    background: #fff;
    position: relative;
    overflow-x: hidden;
}

#container {
    margin-top: 100px;
}
#container li {
    width: 6.25%;
    display: inline-block;
    vertical-align: top;
}
#container img {
    opacity: 0;
    transition: opacity 1s ease;
}
