body, h1, p {
    margin: 0;
}

#file {
    display: none;
}

body {
    background: #fff;
    position: absolute;
    width: 100%;
    font-family: serif;
}

#form, #delete {
    width: 700px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #3f4f5f;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#drop {
    margin: 30px 0;
    height: 150px;
    border: 2px dashed #7b8291;
    text-align: center;
    line-height: 148px;
    font-size: 16px;
    color: #7b8291;
    cursor: pointer;
}
#drop.active, #drop:hover {
    border-color: #28a8d3;
    color: #28a8d3;
}

input[type='text'], textarea {
    display: block;
    color: #696c74;
    background: #fff;
    border: 2px solid #dddee2;
    margin: 10px 0;
    padding: 11px 12px;
    outline: 0;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
}

input[type='text']:focus, textarea:focus {
    border-color: #28a8d3;
}

textarea {
    min-width: 100%;
    min-height: 100px;
    max-width: 100%;
}

form p {
    font-size: 14px;
    color: #696c74;
    margin-top: 20px;
}

form span {
    font-size: 12px;
    margin-left: 10px;
    color: #b2b5bc;
}

input[type='submit'], input[type='button'] {
    margin-top: 20px;
    display: inline-block;
    background: #1ec185;
    font-size: 14px;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
}
input[type='submit'] {
    display: none;
}

#note {
    text-align: center;
    position: fixed;
    z-index: 10;
    top: -30px;
    opacity: 0;
    transition: all .3s;
    width: 100%;
}
#note.active {
    opacity: 1;
    top: 0;
}
#note p {
    display: inline-block;
    font-size: 14px;
    background: #fda647;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 7px 20px 8px;
}

#show, #list {
    list-style: none;
    padding: 10px 0;
    text-align: center;
}
#show li, #list li {
    display: inline-block;
    width: 240px;
    height: 240px;
    margin: 10px;
    position: relative;
}
#list li {
    cursor: pointer;
}
#show img, #list img {
    display: block;
    width: 100%;
    height: auto;
}
#show div, #list div {
    text-align: left;
    color: #fff;
    width: 90%;
    padding: 0 5%;
    position: absolute;
    bottom: 10px;
    font-family: sans-serif;
}
#show h2, #list h2 {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
}
#show p, #list p {
    font-size: 14px;
    margin: 8px 0 0;
}
#switch {
    text-align: center;
    padding: 30px 0 10px;
}
#switch div {
    display: inline-block;
    padding: 10px 20px;
    color: #777;
    text-transform: uppercase;
    border: 1px solid #dedede;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
#switch div:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
#switch div.active {
    background: #777;
    color: #fff;
    border-color: #777;
}
.container {
    width: 100%;
    overflow: hidden;
}
#toggle {
    width: 200%;
    transition: all .3s ease;
    transform: translateX(0);
}
#toggle.active {
    transform: translateX(-50%);
}
.dib {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

